*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  flex: 0 0 20%;

  top: 0;
  background-color: #dde0e6;
  padding: 1.2rem 1.5rem;
}

.main-content {
  flex: 1;

  padding: 1rem;
}

.user-info {
  border-bottom: 1px solid rgb(212, 210, 210);
  padding: 0 0 1rem 0;
  text-align: center;
}

.user-info p {
  padding-top: 0.9rem;
}

.links {
  border-bottom: 1px solid rgb(212, 210, 210);
  padding: 20px 0;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;

  padding: 10px 0 10px 30px;
}

.links a {
  text-decoration: none;
  color: #151924;
}

.link p {
  font-size: 0.8rem;
}

.active {
  border-left: 5px solid #34a853;
  background-color: rgba(52, 168, 83, 0.15);
}

.customize {
  padding: 20px 0;
}

.customize h3 {
  margin-bottom: 20px;
}

.main-content > .nav {
  background-color: #dde0e6;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icons {
  display: flex;

  gap: 28px;
}

.welcome {
  padding: 15px;
  /* border: 1px solid rgb(163, 163, 163); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 15px 0;
  border-radius: 7px;
  display: flex;
  background-color: #151924;
  justify-content: space-between;
  align-items: center;
}

.welcome > * {
  padding: 2px;
}

.welcome-title {
  flex: 0 0 70%;
}

.welcome-search {
  flex: 1;
}

.welcome-search input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.welcome-search input::placeholder {
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
}

.featured {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: stretch;
  margin: 15px 0;
}

.card {
  flex: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 15px 10px;
  background-color: #dde0e6;
  border-radius: 5px;
}

.card-upper {
  display: flex;
  justify-content: space-between;

  align-items: stretch;
  margin-bottom: 2rem;
}

.card-upper img {
  padding: 15px;
  border: 3px solid #34a853;
  background-color: #171c28;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 7px;
}

.card-upper > div {
  text-align: right;
}

.card-upper > div p {
  font-size: 0.9rem;
  font-family: "Monda", sans-serif;
}
.card-upper h3 {
  font-size: 1.5rem;
}

.card-lower {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 0px;
}

.card-lower img {
  padding: 5px;
}

.card-lower p {
  font-size: 0.7rem;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: stretch;
}

.summary > * {
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.summary-left {
  flex: 0 0 62%;
  padding: 15px;
  background-color: #dde0e6;
  border-radius: 7px;
}

.summary-right {
  flex: 1;
  padding: 15px;
  background-color: #dde0e6;
  border-radius: 7px;
}

.summary-right > h3,
.summary-left > h3 {
  font-size: 1rem;
  color: #171c28;
  font-family: "Monda", sans-serif;
}

.top-card {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  gap: 4px;
  border-radius: 5px;
  align-items: stretch;
  align-content: center;
  margin: 15px 0;
  /* background-color: #171c28; */
  background-color: #151924;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.top-card > * {
  flex: 1;
}

.top-card-metric {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.top-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.top-card-info {
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

.top-card-info h6 {
  font-size: 0.9rem;
}

.top-card-info :nth-child(2) {
  font-weight: light;
  font-size: 0.8rem;
}

.top-card-info :nth-child(3) {
  color: #34a853;

  font-size: 0.8rem;
}

.top-card-metric h2 {
  color: #34a853;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Monda", sans-serif;
}

#bar-chart {
  padding: 20px;
  width: 100%;
  margin-top: 1.5rem;
}

.small-nav {
  background-color: #171c28;
  padding: 15px;
  display: flex;
  display: none;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid white;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.burger {
  position: relative;
  padding: 15px 10px 10px 10px;
  width: 50px;

  border-radius: 5px;
}

.burger div {
  border-bottom: 3px solid white;
  transition: all 0.3s ease-in;
}

.burger > div:not(:last-child) {
  margin-bottom: 12px;
}

#reveal {
  display: none;
}

#show-role{
  margin-top: 5px;
  padding: 0;
  font-size: 0.7rem;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 428px) {
  .sidebar {
    display: none;
  }

  .small-nav {
    display: flex;
  }

  #reveal {
    background-color: #171c28;
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    transition: left 0.3s ease;
  }

  #reveal a {
    display: block;
    padding: 25px 20px;
    background-color: #222836;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(201, 198, 198);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 146%;
    border-bottom: #bebbbb 2px solid;
  }

  .featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .main-content {
    padding: 2px;

    margin-top: 90px;
  }

  .main-content > .nav {
    display: none;
  }

  .summary {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    display: block;
  }

  .welcome-title {
    text-align: center;
  }

  .welcome-search {
    display: none;
  }

  .summary-left h3,
  .summary-right h3 {
    text-align: center;
  }
}

@media screen and (min-width: 429px) and (max-width: 834px) {
  .sidebar {
    display: none;
  }

  .small-nav {
    display: flex;
  }

  #reveal {
    background-color: #171c28;
    padding: 0;
    display: block;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    transition: left 0.3s ease;
  }

  #reveal a {
    display: block;
    padding: 25px 20px;
    background-color: #222836;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(201, 198, 198);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 146%;
    border-bottom: #bebbbb 2px solid;
  }

  main {
    display: block;
  }

  .nav {
    display: block;
    margin-top: 100px;
  }

  .featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .summary > .summary-left {
    width: 100%;
    flex: 1;
  }

  .summary > .summary-right {
    padding: 0px;
    margin: 0;
    flex: 1;
    width: 100%;
  }

  .card-flex {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
  }

  .card-flex > div {
    margin: 0;
    flex: 1;
  }

  .card-flex > div:last-child {
    flex: 1;
  }

  .summary-left h3,
  .summary-right h3 {
    text-align: center;
  }
}
