/* screen 1 */
@media screen and (max-width: 375px) {
  /* for nav */
  * {
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .navbar {
    display: block;
  }

  .branding {
    display: none;
  }

  .nav-items ul {
    display: flex;
    gap: 2px;
    justify-content: space-evenly;
  }
  .nav-items li {
    font-size: 0.7rem;
    font-weight: bold;
  }

  /* for hero section */
  #hero {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 10px;
  }

  .hero-left {
    display: block;

    padding: 10px;
  }
  .center-col {
    text-align: center;
  }
  .center-col h1 {
    font-size: 1.5rem;
    margin: 1.2rem 0;
  }

  .center-col p {
    padding: 0;
    font-size: 1rem;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social-icons img {
    width: 2rem;
    height: auto;
  }

  /* for skills section */
  #skills {
    height: auto;
    padding: 10px 0 30px 0;
  }

  .skills-flex {
    display: block;
    height: auto;
  }

  .skills-flex-left {
    display: block;
    text-align: center;
    padding: 25px 10px;
  }

  .skills-flex-left h1,
  .skills-flex-left p {
    margin: 0;
    padding: 0;
  }
  .skills-flex-left h1 {
    margin-bottom: 1rem;
  }
  .skills-flex-left p {
    font-size: 1rem;
  }

  .skills-flex-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    padding: 10px 0 20px 0;
  }

  .skills-flex-right > div {
    flex: 50%;
  }

  .item img {
    width: auto;
  }

  .item {
    padding: 1.5rem 0;
  }

  /* for portfolio */
  #portfolio {
    height: auto;
    padding: 40px 0;
  }

  #portfolio h1 {
    font-size: 1.5rem;
  }

  .portfolio-flex {
    display: flex;
    flex-direction: column;
  }

  .portfolio-flex > div {
    text-align: center;
  }

  .portfolio-flex p {
    text-align: center;
    font-size: 1rem;
  }

  /* for about */
  #about {
    padding: 10px 10px 30px 10px;
    height: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-container > div {
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 0 40px 0;
  }

  .about-left {
    border: none;
    padding: 0;
  }

  .about-left,
  .about-right {
    display: block;
    text-align: center;
  }

  .about-right h1,
  .about-left h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 1rem 0;
  }

  .about-left p,
  .about-right p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  .button-arrow {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: none;
    background-color: #1f53b9;
    padding: 1rem 0;
    border-radius: 7px;
    color: white;
  }

  .button-arrow img {
    display: none;
  }

  .button-arrow p {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }

  .about-right {
    padding: 0;
  }

  /* for contact */
  #contact {
    height: auto;
    padding: 10px 0;
  }

  .contact-flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .contact-left h1 {
    font-weight: bold;

    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact-left > p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .subscribe {
    width: 100%;
  }

  .modal-content {
    width: 100%;
    /* margin: 30% 0 0 0; */
  }

  .flex {
    display: block;
  }

  .flex > div {
    margin-bottom: 20px;
  }

  .flex-icon > input {
    border-radius: 0 !important;
  }

  .sub-btn {
    width: 100%;
  }

  .contact-details {
    padding: 5px 0;
    margin-top: 1.5rem;
  }

  .detail {
    display: flex;
    justify-content: flex-start;
  }

  .input-item input {
    padding: 10px;
  }

  .detail img {
    width: auto;
  }

  .input-item p {
    text-align: left;
    font-size: 1rem;
  }

  /* for footer */
  footer p {
    font-size: 0.7rem;
  }
}

/* screen 2 */
@media screen and (min-width: 376px) and (max-width: 428px) {
  /* for nav */
  .container {
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }

  nav {
    padding: 0;
    padding: 1rem 0;
  }

  .branding {
    display: none;
  }

  .navbar {
    display: block;
    width: 100%;
  }

  .nav-items ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
  }

  .nav-items li {
    font-size: 0.7rem;
    font-weight: bold;
  }

  /* for hero */
  #hero {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 10px;
  }

  .hero-left {
    display: block;

    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .center-col h1,
  .center-col p {
    margin: 0;
    padding: 0;
  }

  .center-col h1 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .center-col p {
    font-size: 1rem;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .hero-img img {
    width: 80%;
    height: auto;
  }

  /* for skills */
  #skills {
    height: auto;
    padding: 10px 5px 30px 5px;
  }

  .skills-flex {
    display: block;
    text-align: center;
  }

  .skills-flex-left {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    padding: 25px 10px;
  }

  .skills-flex-left h1,
  .skills-flex-left p {
    padding: 0;
  }

  .skills-flex-left p {
    font-size: 1rem;
  }

  .skills-flex-left h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  .item {
    padding: 1.5rem 0;
  }

  /* for portfolio */
  #portfolio {
    height: auto;
    padding: 30px 0;
  }

  #portfolio h1 {
    font-size: 1.5rem;
  }

  .portfolio-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-flex > div {
    text-align: center;
  }

  .portfolio-flex p {
    text-align: center;
    font-size: 1rem;
  }

  /* for about */
  #about {
    height: auto;
    padding: 10px;
  }

  .about-container {
    display: block;
  }

  .about-container > div {
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 0 40px 0;
  }

  .about-left,
  .about-right {
    display: block;
    text-align: center;

    margin-bottom: 1rem;
    width: 100%;
  }

  .about-right h1,
  .about-left h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 1rem 0;
  }

  .about-left p,
  .about-right p {
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
  }

  .button-arrow {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border: none;
    background-color: #1f53b9;
    padding: 1rem 0;
    border-radius: 7px;
    color: white;
  }

  .button-arrow img {
    display: none;
  }

  .button-arrow p {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }

  /* for contact */
  #contact {
    height: auto;
    padding: 10px 0;
  }

  .contact-flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .subscribe {
    width: 100%;
  }

  .modal-content {
    width: 100%;
    /* margin: 30% 0 0 0; */
  }

  .flex {
    display: block;
  }

  .flex > div {
    margin-bottom: 20px;
  }

  .flex-icon > input {
    border-radius: 0 !important;
  }

  .sub-btn {
    width: 100%;
  }

  .contact-left h1 {
    font-weight: bold;

    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact-left > p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .contact-details {
    padding: 5px 0;
    margin-top: 1.5rem;
  }

  .detail {
    display: flex;
    justify-content: flex-start;
  }

  .input-item input {
    padding: 10px;
  }

  .detail img {
    width: auto;
  }

  .input-item p {
    text-align: left;
    font-size: 1rem;
  }

  /* for footer */
  footer p {
    font-size: 0.7rem;
  }
}

/* screen 3 */
@media screen and (min-width: 429px) and (max-width: 834px) {
  .container {
    width: 100%;
  }

  /* for nav */
  .navbar {
    display: block;
  }
  .branding {
    display: none;
  }

  .nav-items ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .nav-items li {
    font-size: 0.9rem;
    font-weight: bold;
  }

  /* for hero */
  #hero {
    padding: 20px 0 50px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: auto;
    width: 80%;
    margin: 20px auto 0 auto;
  }

  .hero-left,
  .hero-img {
    flex: 1;
  }
  .hero-left {
    display: block;
  }

  .center-col {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .center-col h1 {
    font-size: 1.5rem;
  }

  .center-col p {
    font-size: 1rem;
    padding: 0 10px;
    margin: 0;
  }

  .hero-img img {
    max-width: 300px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  /* for skills */
  #skills {
    height: auto;
    padding: 50px;
    width: 100%;
    text-align: center;
  }

  .skills-flex {
    display: block;
  }

  .skills-flex-left p,
  .skills-flex-left h1 {
    margin: 0;
    padding: 0;
  }

  .skills-flex-left h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .skills-flex-left p {
    font-size: 1rem;
    margin: 0 auto 2rem auto;
    width: 80%;
  }

  .skills-flex-right {
    height: auto;

    width: 85%;
    margin: 0 auto;
  }

  .item {
    padding: 40px 0;
  }

  .item p {
    font-size: 0.9rem;
  }

  /* for portfolio */
  #portfolio {
    height: auto;
    padding: 30px 0;
  }

  .portfolio-flex {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .portfolio-flex > div {
    flex: 49%;
  }

  #portfolio h1 {
    font-size: 1.5rem;
  }

  /* for about */
  #about {
    height: auto;
    padding: 20px;
  }

  .about-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }

  .about-container p {
    font-size: 1rem;
  }

  .about-left {
    border: none;
  }

  .about-right,
  .about-left {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 0 40px 0;
    flex: 49%;
  }

  .button-arrow img {
    display: none;
  }
  .button-arrow {
    display: block;
    background-color: #1f53b9;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 7px;
    color: white;
    border: none;
    font-weight: normal;
  }

  /* for contact */
  #contact {
    padding: 0;
    height: auto;
    margin: 0;
  }

  .contact-flex {
    display: block;

    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .contact-left {
    width: 100%;
  }

  .subscribe {
    width: 100%;
  }

  .modal-content {
    width: 60%;

    /* margin: 30% auto 0 auto; */
  }

  .flex {
    display: block;
  }

  .flex > div {
    margin-bottom: 20px;
  }

  .flex-icon > input {
    border-radius: 0 !important;
  }

  .sub-btn {
    width: 100%;
  }

  .contact-left h1 {
    font-size: 1.5rem;
  }

  .contact-left > p {
    font-size: 1rem;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0;

    margin: 0 auto 15px auto;
  }

  .input-item p {
    text-align: left;
  }

  /* for footer */
  footer {
    font-size: 0.8rem;
  }
}

/* screen 4 */
@media screen and (min-width: 835px) and (max-width: 1200px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

  /* for nav */
  .nav-items li {
    font-size: 1rem;
  }

  /* for hero */
  .center-col h1 {
    font-size: 2rem;
  }

  .center-col > p {
    font-size: 1.3rem;
  }

  .social-icons {
    margin: 0 auto;
    display: flex;

    gap: 2.5rem;
    justify-content: flex-start;
  }

  /* for portfolio */

  .portfolio-flex {
    height: auto;
  }
  .portfolio-flex {
    width: 100%;
  }

  /* for about */
  #about {
    height: auto;
    padding: 40px 20px;
  }

  .about-left,
  .about-right {
    padding: 30px;
  }

  .modal-content {
    width: 60%;
    /* margin: 15% auto 0 auto; */
  }

  .flex {
    display: flex;
  }

  .flex > div {
    margin-bottom: 20px;
  }

  .flex-icon > input {
    border-radius: 0 !important;
  }

  .sub-btn {
    width: 30%;
  }

  .contact-left h1 {
    font-size: 1.5rem;
  }

  .contact-left > p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  #hero {
    height: 100vh;
  }

  #skills {
    height: 50vh;
  }

  .about-container {
    width: 1200px;
    margin: 0 auto;
  }

  .center-col {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }

  .center-col p {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
  }

  .button {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .nav-items > ul a {
    font-size: 0.9rem;
  }

  .center-modal {
    width: 1200px;
    margin: 0 auto;
  }

  .modal-content {
    width: 50%;
  }

  .flex {
    display: flex;
  }

  .flex > div {
    margin-bottom: 20px;
  }

  .flex-icon > input {
    border-radius: 0 !important;
  }

  .sub-btn {
    width: 20%;
  }

  .contact-left h1 {
    font-size: 1.5rem;
  }

  .contact-left > p {
    font-size: 1rem;
  }
}
